doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
  meta(name='robots' content='noindex,nofollow')

  title Wheat Farmer

  link(rel='preload' href='fonts/OpenMoji-Color.SVG.ttf' as='font' type='font/ttf')
  link(rel='preload' href='fonts/212Keyboard.woff' as='font' type='font/woff')
  link(rel='preload' href='fonts/212Keyboard.woff2' as='font' type='font/woff2')

  link(rel='stylesheet' href='css/style.css')
body
  script(src='js/index.js')
