@import "./reset";

@font-face {
    font-family: 'OpenMoji';
    src: URL('../fonts/OpenMoji-Color.SVG.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    height: 100%;
}

body {
    font: 12pt "Courier New";
}

strong, b {
    font-weight: bold;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.gui {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    border: 1px solid #111;
    background: rgba(#fff, 0.25);
    user-select: none;

    .gui-item {
        padding: 0.7em;
    }
}